extends layout

block content
  block header
    h1= title
    p= description
    
  p(id="viewer-count") 1 viewing this page.
  p
    input(id="btn-clear", type="button", value="Clear")
  - var lPad = function(s){ while(s.length<2){s="0"+s;}return s;}
  table
    thead
      tr
        th.text-left Time
        th.text-left User
        th.text-left Message
    tbody
      each message, i in data
        tr
          td.text-right= lPad(message.createdAt.getHours().toString()) + ':' + lPad(message.createdAt.getMinutes().toString()) + ':' + lPad(message.createdAt.getSeconds().toString())
          td.text-right.bold= message.personaName
          td.text-left= message.message
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='javascripts/socket.io.js')
  script(src='javascripts/chat.js')